In [24]:
a=[['2016-04-01',-1],
['2017-02-01',10],
['2017-02-01',-1],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-01',10],
['2017-04-02',10],
['2017-04-02',10],
['2017-04-02',10],
['2017-04-02',10],
['2017-04-02',-1],
['2017-04-02',10],
['2017-04-02',10],
['2017-04-02',10],
['2017-04-03',-1],
['2017-04-03',10],
['2017-04-03',10],
['2017-04-03',10],
['2017-04-03',10]]

import pandas as pd

df=pd.DataFrame(a,columns=['date','status'])
a=df.groupby(['date', 'status']).size().unstack().fillna(0)
a.to_dict()

{-1: {'2016-04-01': 1.0,
  '2017-02-01': 1.0,
  '2017-04-01': 0.0,
  '2017-04-02': 1.0,
  '2017-04-03': 1.0},
 10: {'2016-04-01': 0.0,
  '2017-02-01': 1.0,
  '2017-04-01': 10.0,
  '2017-04-02': 7.0,
  '2017-04-03': 4.0}}

In [30]:
df.groupby(['date', 'status']).size().unstack()

status      -1     10
date
2016-04-01  1.0   NaN
2017-02-01  1.0   1.0
2017-04-01  NaN  10.0
2017-04-02  1.0   7.0
2017-04-03  1.0   4.0

In [23]:
lst = []
for name, group in df.groupby('date'):
    d = dict(date=name)
    print(d)
    for n, g in group.groupby('status'):
        d['status{}'.format(n)] = len(g)
    lst.append(d)

print(lst)

{'date': '2016-04-01'}
{'date': '2017-02-01'}
{'date': '2017-04-01'}
{'date': '2017-04-02'}
{'date': '2017-04-03'}
[{'date': '2016-04-01', 'status-1': 1}, {'date': '2017-02-01', 'status-1': 1, 'status10': 1}, {'date': '2017-04-01', 'status10': 10}, {'date': '2017-04-02', 'status-1': 1, 'status10': 7}, {'date': '2017-04-03', 'status-1': 1, 'status10': 4}]