In [1]:
from WindPy import *
w.start()

Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2020 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.

.ErrorCode=0
.Data=[OK!]

In [7]:
T=w.wsd("TS.CFE", "open,high,low,close,volume", "2015-01-01", "2020-12-16", "Fill=Previous;PriceAdj=F", usedf=True)[1]
T

Empty DataFrame
Columns: []
Index: []

In [21]:
# T.to_excel('./data/TS.xlsx')

In [15]:
T5min=w.wsi("TS.CFE", "open,high,low,close,volume", "2018-01-01 09:00:00", "2020-12-17 15:15:00", "tradeDate=20201216;priceAdj=1;cycle=1;Fill=Previous", usedf=True)[1]
T5min

                        open     high      low    close  volume
2018-08-17 09:15:00   99.400   99.405   99.235   99.270   678.0
2018-08-17 09:16:00   99.265   99.290   99.260   99.280   286.0
2018-08-17 09:17:00   99.290   99.330   99.275   99.320   161.0
2018-08-17 09:18:00   99.320   99.355   99.315   99.355   244.0
2018-08-17 09:19:00   99.360   99.360   99.325   99.330    36.0
...                      ...      ...      ...      ...     ...
2020-12-17 15:11:00  100.215  100.215  100.215  100.215    20.0
2020-12-17 15:12:00  100.215  100.215  100.215  100.215    11.0
2020-12-17 15:13:00  100.220  100.220  100.215  100.215    14.0
2020-12-17 15:14:00  100.215  100.215  100.200  100.200   141.0
2020-12-17 15:15:00  100.200  100.200  100.200  100.200     0.0

[152649 rows x 5 columns]

In [16]:
T5min.to_excel('./data/TS_1min.xlsx')

In [ ]:
T=w.wsd("TF.CFE", "open,high,low,close,volume", "2015-01-01", "2020-12-16", "Fill=Previous;PriceAdj=F", usedf=True)[1]
T

In [5]:
import joblib


model = joblib.load('model.pkl') 
model

GaussianHMM(algorithm='viterbi', covariance_type='full', covars_prior=0.01,
            covars_weight=1, init_params='stmc', means_prior=0, means_weight=0,
            min_covar=0.001, n_components=2, n_iter=200000, params='stmc',
            random_state=None, startprob_prior=1.0, tol=0.01,
            transmat_prior=1.0, verbose=False)

In [6]:
model.predict([[0.01,0.01]])

array([0])

In [7]:
A=[[ 7.71347067e-04, -1.02833051e-04],
        [ 3.59980462e-04,  5.65887301e-04],
        [ 4.62832026e-04,  2.57181803e-04],
        [ 1.18072860e-03,  2.10629140e-03],
        [ 7.69842733e-04,  2.05433794e-03],
        [ 5.13109971e-04,  2.10575050e-03],
        [ 5.64348577e-04,  2.20858355e-03],
        [ 5.64290676e-04,  2.26035234e-03],
        [ 7.69763721e-04,  1.95242317e-03],
        [ 6.67471080e-04, -1.53968539e-04],
        [ 7.18685863e-04, -7.69882246e-04],
        [ 3.08087294e-04, -9.75284321e-04],
        [ 1.18091047e-03, -3.07881776e-04],
        [ 4.61858218e-04, -2.05275583e-04],
        [ 5.13215305e-04, -5.13307497e-05],
        [ 7.18870378e-04, -5.13399744e-04],
        [ 7.19461463e-04, -1.13023387e-03],
        [ 4.11163083e-04, -7.19239692e-04],
        [ 2.56957115e-04, -1.33525081e-03],
        [ 7.70673350e-04, -8.72891637e-04],
        [ 3.08229736e-04, -6.16174602e-04],
        [ 1.18109239e-03,  3.59407495e-04],
        [ 6.16111330e-04,  1.07888731e-03],
        [ 1.54162415e-03, -2.56996738e-04],
        [ 5.14059539e-04, -5.65450962e-04],
        [ 6.16966601e-04, -7.19424491e-04]]

In [8]:
model.predict(A)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1])